body{
  background-image: url(images/wr-home.jpg);background-size: cover;background-attachment: fixed;margin: 0;padding: 0;text-align: center;align-content: center;
        
}
.flightform
{
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 10% auto;
}
.radio-btn
{
    margin: 0 20px;
}
.radio-btn .btn
{
    margin: 10px 5px 10px 0;
    box-shadow: none;
}
.radio-btn .btn::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px; 
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn .btn:checked::after
{
    content: '';
    background-color: #000;
    transition: 0.2s;
}
.radio-btn span
{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}
.radio-btn1
{
    margin: 0 20px;
}
.radio-btn1 .btn1
{
    margin: 10px 5px 10px 0;
    box-shadow: none;
}
.radio-btn1 .btn1::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px; 
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn1 .btn1:checked::after
{
    content: '';
    background-color: black;
    transition: 0.2s;
}
.radio-btn1 span
{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}
.radio-btn2
{
    margin: 0 20px;
}
.radio-btn2 .btn2
{
    margin: 10px 5px 10px 0;
    box-shadow: none;
}
.radio-btn2 .btn2::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px; 
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn2 .btn2:checked::after
{
    content: '';
    background-color: black;
    transition: 0.2s;
}
.radio-btn2 span
{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}
.radio-btn3
{
    margin: 0 20px;
}
.radio-btn3 .btn3
{
    margin: 10px 5px 10px 0;
    box-shadow: none;
}
.radio-btn3 .btn3::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px; 
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn3 .btn3:checked::after
{
    content: '';
    background-color: black;
    transition: 0.2s;
}
.radio-btn3 span
{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}
.radio-btn4
{
    margin: 0 20px;
}
.radio-btn4 .btn4
{
    margin: 10px 5px 10px 0;
    box-shadow: none;
}
.radio-btn4 .btn4::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px; 
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn4 .btn4:checked::after
{
    content: '';
    background-color: black;
    transition: 0.2s;
}
.radio-btn4 span
{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}
.radio-btn5
{
    margin: 0 20px;
}
.radio-btn5 .btn5
{
    margin: 10px 5px 10px 0;
    box-shadow: none;
}
.radio-btn5 .btn5::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px; 
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn5 .btn5:checked::after
{
    content: '';
    background-color: black;
    transition: 0.2s;
}
.radio-btn5 span
{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}
.radio-btn6
{
    margin: 0 20px;
}
.radio-btn6 .btn6
{
    margin: 10px 5px 10px 0;
    box-shadow: none;
}
.radio-btn6 .btn6::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px; 
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn6 .btn6:checked::after
{
    content: '';
    background-color: black;
    transition: 0.2s;
}
.radio-btn6 span
{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}
.grp
{
    display: flex;
}
.grp1
{
    display: flex;
}
.submit
{
    position: relative;
    background-color: transparent;
    left: 570px;
    top: -100px;
}
.submit a:hover
{
    background-color: transparent;
}
.grp2
{
    width: 350px;
    display: flex;
}